{% extends 'jobList/base.html' %}

{% block content %}
{% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
{% else %}
  <p> Please Login </p>
{% endif %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p><a href = {{ post.posting_url }} target="_blank">
          {{ post.posting_url}}
        </a></p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
